Package: com.naliferopoulos.infobar
Name: infobar
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Display information on the status bar.
Maintainer: Nick Aliferopoulos
Author: Nick Aliferopoulos
Section: Tweaks
Version: 0.0.1-48+debug
Installed-Size: 172
